body{
    margin: 0px;
    background-image: url(../img/savonen.jpg);
    background-size: cover;
    background-position: center -250px;
}


header{
    
    display: flex;
    height: 90vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
    
}

main{
height: 100vh;

display: grid;
grid-template-columns: 70% 30%;
text-align: center;
}
.sc
main img{
   
}

nav{
    
   
    height: 30vh;
    display :flex;
    padding: 25px;
     line-height: 60px;
     position: fixed;
     top: 0;
     justify-content: center;
    
     
     

   

    
    
    

}
nav a{
 color: rgb(0, 0, 0);   
font-size: 2rem; /* 1 rem är 18 px */

}

header h1{
    color:rgb(32, 32, 32);
    font-size: 4rem;
    margin: 0px;

    
}
section{
   
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
footer{
    background-color: rgb(177, 177, 177);
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center; 
}

footer .card{
display:grid;

}


.bg{
background-image: url('../img/beer.jpg');
background-size: cover;
background-position: center;

}


@media screen and (max-width:500px) {
     header{
        
    }
        div#wrapper{
 min-height: 100vh ; 
 display: grid;  

 grid-template-rows: 
 
 "hd"
 "nv"
 "st"
 "sb"
 "ft" ;
    }

#wrapper aside{
    display: none;
}
}